@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .roboto-logo {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: italic;
        font-variation-settings: "wdth" 100;
        font-size: x-large;
    }
}

@layer components {
    .btn-primary {
        @apply py-2 px-5 bg-[#FBBF24] text-[#0F766E] hover:text-[#0D6058] font-semibold rounded-full shadow-md hover:bg-[#F59E0B] focus:outline-none focus:ring focus:ring-gray-400 focus:ring-opacity-75;
    }

    .btn-secondary {
        @apply py-2 px-5 bg-[#F97316] text-[#1E3A8A] font-semibold rounded-full shadow-md hover:bg-[#EA580C] hover:text-[#1A326F] focus:outline-none focus:ring focus:ring-gray-400 focus:ring-opacity-75;
    }
}
